#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

navbar {
  display: flex;
  justify-content: space-evenly;
}

navbar a{
  border: whitesmoke 0.1rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
}
